body{
    background: linear-gradient(#203F11,#539F2E,#E3AC59,#D0FFB9);
    font-family: "Barlow", sans-serif;
}

/* Nav 1 */
.header-nav1{
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
    align-items: center;
}
.sattva-logo-title-header{
    display: flex;
    align-items: center;
    gap: 15px;
}

.sattva-logo{
    border-radius: 50%;
}
.sattva-logo-title{
    color: white;
    display: inline;

}

.profile-img{
    border-radius: 50%;
}

.nav1-menu-list{
    color: black;
    display: flex;
    background: #FFFFFF;
    padding: 15px 30px;
    gap: 30px;
    border-radius: 29.08px;
    opacity: 0.5;
    font-weight: 700;
    
}
.nav1-menu-list li{
    list-style-type: none;
}
.nav1-menu-items-link{
    text-decoration: none;
    color: black;
}

.header-login{
    background-color: #77926B;
    border: none;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 19.09px;
}

/* NAV 2 */
.header-searchbar{
    width: 200px;
    height: 30px;
    padding: 10px 20px;
    border-radius: 30px;
    border-width: 2px;
    border-top-color: white;
    border-left-color: white;
    border-bottom-color: #7B7B7B;
    border-right-color: #7B7B7B;
}

.header-searchbar::placeholder{
    color: grey;
    font-family: "Barlow", sans-serif;
    font-style: italic;
    font-weight: 800;
}
.header-nav2{
    display: flex;
    justify-content: space-around;
}
.nav2-list{
    list-style-type: none;
    display: flex;
    gap: 50px;
}
.nav2-list li a{
    font-weight: 800;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 2px 5px;
    border-radius: 10px;
}