body, 
html{
    margin: 0;
    padding: 0;
    font-family:"Roboto", sans-serif;
    background: #7A9E9F;
}

#form-container{
    background: white;
    max-width: 400px;
    margin: 100px auto 0 auto;
    padding: 10px;
    text-align: center;
}
#login-form{
    display: grid;
    padding: 0 20px 0 20px;
    text-align: left;
    padding: 10px;
}
h1{
    font-size: 1.5em;
    margin: 10px;
}
.input{
    height: 1.5em;
    margin-bottom: 1em;
}
#submit-btn{
    padding: 0.3rem;
}
#create-acc-container{
    margin-top: 50px;
    text-align: center;
}